*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    height: 80vh;
    margin-top: 50px;
}
form{
    padding: 40px 100px;
    border: 1px solid transparent;
    box-shadow: 0px 0px 2px rgba(0,0,0,.5);
    background-color: aliceblue;
}
form input{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    padding: 5px 200px 5px 0px;
    text-align: left;
    font-size: 12px;
}
label{
    font-size: 20px;
}
form input[type="submit"]{
    padding: 10px;
    text-align: center;
    background-color: rgb(25, 114, 3);
    border: 1px solid rgb(25, 114, 3);
    color: aliceblue;
}
div{
    margin: 20px;
}
h1{
    text-align: center;
    text-transform: uppercase;
    margin: 20px;
}